<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0"></script>

{% if config.extra.social %}
  <div class="md-footer-social">
    <link rel="stylesheet" href="{{ 'assets/fonts/font-awesome.css' | url }}">
    <span class="md-footer-social__link fb-like" data-href="https://www.facebook.com/ONEmCommunicationsLtd/"
    data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></span>
    {% for social in config.extra.social %}
      <a href="{{ social.link }}" class="md-footer-social__link fa fa-{{ social.type }}"></a>
    {% endfor %}
  </div>
{% endif %}
